.commentbubble{float: right;}
.text-center,.text-left {margin:0px;}
.positive_comment {
	color: #5cb85c;
}
.negative_comment {
	color: #d9534f;
}
.neutral_comment {
	color: #428bca;
}
.breakword {  
    word-wrap: break-word;  
}
blockquote {
	padding: 10px 15px;
	font-size: 12px;
	margin: 0 0 5px !important;
}
h2, .h2 {
	font-size: 30px;
}
h2>.label { vertical-align: middle;font-size:10px; } 
body {
	padding-top: 20px;
}